/* body {
  background-color: aqua;
}
video {
  max-width: 100%;
  width: 600px;
} */

.counsel {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
}


.w {
  background-image: './iamge.jpg';
  width: 10px;
  height: 10px;
}

